/* ****************************************** */
/* *********** GENERAL SETUP **************** */
/* ****************************************** */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.section-padding {
  padding: 0 1.5rem;
} 


/* Both, intro text and testimonials looked similar to me
so I wrote the common styles for both of them here.
 It's your fault that I had to eyeball it :)))  */

.par {
  text-align: center;
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1.6rem;
  margin: 0 auto;
}

/* ****************************************** */
/* *********** HEADER *********************** */

.header {
  width: 100%;
  height: 100vh;
}

.hero-img {
  width: 100%;
  height: 100%;
}


/* ****************************************** */
/* ********* MAIN CONTAINER ***************** */

.main-container {
  width: 100%;
  max-width: 1253px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}
.main-par {
  margin: 3rem auto;
}

/* ****************************************** */
/* ********* DEVICE INFO SECTION ************ */

.device-info-lists {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  margin: 4rem auto 3rem;
}

/* Usually I would just put a class to every element,
 but here I'm showing you that I know all these ways 
 to target an element :)))
 Of course, I would adapt to whatever convenction the team is agreed upon */

.device-info-lists > div > ul {
  padding-left: 1.2rem;
}

.device-info-lists-header {
  font-size: 1.1rem;
  font-weight: 700;
}

/* ****************************************** */
/* ********** VIDEO PLAYER SECTION ********** */

.video-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  align-items: center;
  justify-content: center;
}

.video-player {
  width: 100%;
  margin: 0 auto;
}

.play-button {
  border: 0;
  background: transparent;
  box-sizing: border-box;
  height: 30px;
  border-color: transparent transparent transparent #fafafa;
  transition: 100ms all ease;
  cursor: pointer;
  border-style: solid;
  border-width: 25px 0 25px 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  transition: all 400ms ease-in-out;
}

.play-button.paused {
  border-style: double;
  border-width: 0px 0 0px 60px;
}

.video-controls.playing .play-button {
  opacity: 0;
}

.video-controls.playing:hover .play-button {
  opacity: 1;
}

/* ****************************************** */
/* ******** TESTIMONIALS SECTION ************ */

.testimonials-section {
  display: flex;
  flex-direction: column;
  margin: 2rem auto;

}
.testimonial {
  display: flex;
  flex-direction: column;
}

.testimonials-section h3,
.testimonials-section p {
  text-align: center;
  margin: 0 auto;
}

.testimonials-section h3 {
  font-size: 1.1rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.testimonial-img {
  width: 35%;
  height: auto;
  margin: 3rem auto 1rem !important;
}


/* ****************************************** */
/* *********** CONTACT  SECTION ************* */


.contact-section {
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-wrapper {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: 1fr;
  width: 100%;
  max-width: 1000px;
  margin: 1rem auto;
}

.form {
  margin: 1.5rem 0;
}

input {
  text-align: center;
  border-radius: none;
  width: 100%;
  height: 60px;
  border: none;
}

.form-input {
  border-top: 0.7px solid #000;
  border-left: 0.7px solid #000;
  border-right: 0.7px solid #000;
}

.form-input:last-of-type {
  border-bottom: 0.7px solid #000;
}

input:focus,
textarea:focus {
  color: #22bfea;
}

.textarea-wrapper {
  border: 0.7px solid #000;
  border-top: 0;
}
textarea {
  display: flex;
  resize: none;
  height: 100%;
  width: 100%;
  border: none;
  padding: 3% 10%;
}

.submit-btn {
  font-size: 0.8rem;
  background-color: transparent;
  height: 30px;
  width: 200px;
  display: block;
  margin: 2rem auto 1rem;
  border: 0.7px solid #000;
  border-radius: 15px;
}

.suscribe {
  width: 350px;
  height: 40px;
  max-width: 95%;
  border: 0.7px solid #000;
  border-radius: 20px;
  display: grid;
  align-items: center !important;
  margin: 0 auto;
  position: relative;

}
.suscribe-input {
  background-color: transparent;
  height: 40px;
  border-radius: 20px;
}

.suscribe-input::placeholder {
  font-size: 0.8rem;
  color: #000;
  text-align: center;
}

.suscribe-btn {
  background-color: transparent;
  height: 100%;
  width: 60px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  border: none;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.suscribe-btn img {

  width: 60%;
  height: auto;
}

/* 
320px — 480px: Mobile devices.
481px — 768px: iPads, Tablets.
769px — 1024px: Small screens, laptops.
1025px — 1200px: Desktops, large screens.
1201px and more — Extra large screens, TV.
 */


 /* I grouped all the media queries; 
 If the project was bigger, I would have definitely written media querries 
 after each section for the readability*/




 @media screen and (max-width: 320px) {
  .suscribe-btn img {
    zoom: .6%;
  };
 }


@media screen and (min-width: 768px) {

  .par {
    max-width: 65%;
  }
  .device-info-lists {
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
    width: 80%;
  }

  .device-info-lists > div {
    width: 100%;
  }

  .play-button {
    height: 50px;

  border-width: 37px 0 37px 60px;

 
  }

  .testimonials-section > h3,
  .testimonials-section > p {
    max-width: 70%;
  }

  .form-wrapper {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
  }

  .textarea-wrapper {
    border-left: 0;
    border-top: 0.7px solid #000;
  }

  .contact-section {
    width: 80%;
  }
}

@media screen and (min-width: 1025px) {
  .video-player {
    width: 80%;
  }

  .testimonials-section > h3,
  .testimonials-section > p {
    max-width: 40%;
  }
}
